@{
    ViewBag.Title = "联系我们";
}
<h2 style="font-family: 微软雅黑;">@ViewBag.Title</h2>
<h3 style="font-family: 微软雅黑;">@ViewBag.Message</h3>

<address>
    <br />
    <strong>胡敏强校长:</strong>&nbsp;&nbsp;025-32767-65535<br />
    <strong>宋永忠书记:</strong>&nbsp;&nbsp;010-0010-0101<br />
</address>

<address>
    <strong>校长信箱:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><a href="mailto:xz@njnu.edu.com">xz@njnu.edu.com</a><br />
    <strong>书记信箱:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><a href="mailto:sj@njnu.edu.com">sj@njnu.edu.com</a>
</address>