@{
    ViewBag.Title = "毕业生服务平台";
}

<div style="padding-top: 20px; border-radius: 0px; margin-bottom: 0px; " class="jumbotron">
    <img src="~/Content/logo.png" />
    <h1 style="font-family: 微软雅黑;">毕业生服务平台</h1>
    <p class="lead" style="font-family: 微软雅黑; margin-top: 10px;">为您提供优质的毕业设计(论文)及答辩等信息服务，为您解决毕业前最后一公里的得力助手</p>
    <p><a target="_blank" href="http://www.njnu.edu.cn" style="font-family: 微软雅黑;" class="btn btn-primary btn-lg">进入南师主页 &raquo;</a></p>
</div>
<div style="margin-top: 0px; margin-bottom: 0px; background-color: #d0d0d0; height: auto; border-radius: 0px; " class="jumbotron">
    
</div>